body {
    padding: 0;
    margin: 20px 0 0;
    background-color: aliceblue;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.container > div {
    position: relative;
    float: left;
    width: 50%;
    height: 325px;
    color: aliceblue;
    box-sizing: border-box;
}

.photo {
    background-image: url("sergey.png");
    background-repeat: no-repeat;
    background-position: -50px 0;
}

.photo h1 {
    position: absolute;
    top: 140px;
    right: 20px;
    margin: 0;
    padding: 0;
}
.about-and-contacts {
    padding: 25px;
    background-color: #232c35;
}

.contacts {
    margin:  0;
    padding-bottom: 10px;
    border-bottom: 2px solid aliceblue;
}

.contacts td:not(:last-child) {
    padding-right: 35px ;
}

.info {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid aliceblue;
}

.technologies {
    padding-left: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid aliceblue;
}
.education,
.experience-and-language {
    background-color: #232c35;
    padding: 20px 20px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

.language,
.experience,
.education ul {
    border-bottom: 2px solid aliceblue;
}

.education {
    background-color: #dec49f;
    padding: 20px 20px;
}

.education li {
    margin-bottom: 40px;
}
