body {
    padding: 0;
    margin: 20px 0 0;
    background-color: aliceblue;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.photo {
    float: left;
    position: relative;
    width: 50%;
    height: 325px;
    background-image: url("sergey.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.photo h1 {
    color: aliceblue;
    position: absolute;
    top: 100px;
    right: 20px;
    margin: 0;
    padding: 0;
}
.about-and-contacts {
    box-sizing: border-box;
    padding: 20px;
    float: left;
    background-color: #232c35;
    width: 50%;
    height: 325px;
}

.contacts {
    color: aliceblue;
    margin: 10px auto;
}

.contacts td:not(:last-child) {
    padding-right: 100px ;
}
